header {
    background-color: lightblue;
    color: rgb(0, 0, 0);
    height: 8em;
    text-align: center;
    margin: auto;
    position: fixed;
}

* {
    background-color: lightsalmon;
}

p, h2 {
    background-color: lightblue;
}
#nerd {
    text-align: center;
    text-decoration: solid;
    border-radius: 30%;
    background-color: red;
    border-color: #000000;    
    border-style: dashed;
    height: 30%;
    font-size: 0.5in;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 0.1%;
    margin-left: 0.1%;
    margin-left: 0.1%;
    margin-right: 0.1%;
    
    
}

#nerd:hover {
    text-decoration: underline;
}

a:active {
    color: coral;
}

#nerdsection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 8px;
    border-width: 2%;
    border-color: black;
    position: relative;
}

#othermeetings {
    display: grid;
    row-gap: 0.5cm;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.ewflist {
    display: inline-block;
}

[class*="menu"] {
    text-align: center;
}

section h2 {
    font-size: 20ex;
}

header > p {
    margin: 30% 30% 30% 30%;
    display: none;
    width: 2in;
}
datalist ~ option {
    font-family: 'Mate SC', serif;
}

summary + p {
    font-family: 'Mate SC', serif;
    max-width: 10in;
    min-width: 0in;
}

ul.ewflist {
    padding: 20vw 20vw 20vw 20vw;
}

@media screen and (max-width: 500px) {
    #nerd {
        background-color: hsl(180, 100, 50);
    }
}